
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 500px;


}
.container {
    background: transparent;
    
    align-items: center;
    justify-content: center;

}

nav ul li {
    list-style: none;
    display: -ms-inline-grid;
    padding: 15px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #f0ecec;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.4s;

}
nav ul li::after {
    content: '';
    background: #d88282;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover {
    color: #ffffff;

}
nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.repertorio {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;

}
.repertorio.active {
    right: 100px;
}
.repertorio video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #86634e;
    mix-blend-mode: overlay;
}

nav {
    margin-bottom: 500px;
    
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    position: relative;
    margin-right: 5px;
    
    
}
.menu li a {
    color: #fffefd;
    text-decoration: none;
}
.submenu {
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 0;
}
.desplegable:hover .submenu {
    display: block;
}
.text {
    position: relative;
    z-index: 10;

}
.text h2 {
    font-size: 3em;
    font-weight: 800;
    color: #f1f1f1;
    line-height: 1em;
    text-transform: uppercase;
    
}
.text h3 {
    color: white;
}
.text p {
    font-size: 1.1em;
    color: #ebe6e6;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.text .boton {
    text-decoration: none;
    color: #ebe6e6;
}

/* codigo para hacer responsive la página */

@media (max-width: 480px){
    .menu{
        flex-direction: column;
        align-items: center;
    }
}
